*{
}

body {
	background-color: #160e65;
}

.Caixa{
	display: flex;
	align-items: center;
	flex-direction: column;

	height: 100%;
	width: 50%;
	padding: 2%;
	/*background-color: #160e65 ;*/
	background: transparent;
	border: 2px solid #d3aa23;
	border-radius: 10px;
	color: aliceblue;
	overflow: auto;
	overscroll-behavior: contain;
	scrollbar-width: none;
}

.Caixa::-webkit-scrollbar {
	display: none;
}

.card{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	margin: 2px;
	backdrop-filter: blur(5px);

	width: 95%;
	background-color: #160e65 ;
	border: 2px solid #d3aa23;
	border-radius: 10px;
	color: yellow;
	/*background-color: #d3aa23;*/

}

.container{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 80%;
}
