
*{
    box-sizing: border-box;

}
body{
    background-color: #160e65;


}

#Menu{

    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.Imagem{
    height: 300px;
    border: 5px solid #d3aa23;
    border-radius: 20px;

    

}
.Btn{
    background-color: #d3aa23;
    border-radius: 4px;
    color: black;
    text-align: center;
    padding: 20px;

}
.Btn:hover{
    scale: 1.2;
    background-color: red;


}   


a {
    text-decoration: none;
    
}

.Logo{
    padding-left: 700px;
}
